.checkbox{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    font-size: 24px;
    margin: 16px;
}
input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    height: 0;
}
.checkmark{
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #d3d3d3;
    left: 0;
    top: 0;
}
input[type="checkbox"]:checked + .checkmark{
    background-color: #006400;
}