*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: bisque;
}
.page{
   background-color: aqua;
   font-size: 16px;
   font-family: monospace;
   width: 300px;
  /*  padding: 16px; */
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.form-control{
    margin-left: 16px;
    margin-right: 16px;
}
.form-title{
    text-transform: uppercase;
    text-align: center;
}
.form-input{
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 4px;
    outline: none;
}
.form-input:invalid{
    border: 3px solid #ff0000;
}
.form-label{
    display: block;
    margin-top: 8px;
    margin-bottom: 4px;
}
.submit-button{
    margin: 16px;
    display: block;
    width: 268px;
    height: 32px;
    background-color: #ff7f50;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
}